body {
    background-color: #799296;
}

button {
    font-family: cursive;
    color: white;
}

.navbar-brand:hover {
    color: white;
}
navbar .btn {
    border-radius: 100px;
    font-weight: bold;
}


.divider {
    border: 1px solid white;
}

/* .user-icon-link i {
    font-size: 24px;
    color: black;
} */

.user {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 25px;
}

.user:hover {
    /* transition: 2s;
    background-color: #dcdcdc; */
    cursor: pointer;
}

.card ,.btn{
    font-weight: bold;
}

footer{
    font-weight: bold;
}